  <div class="limit-width column narrow info-body">
    <h1>WAYF Cloud for Publishers & Service Providers</h1>
    <div class="thin fnt-large">
      <p>The WAYF (Where Are You From) Cloud enables punlisher and service providers platforms to exchange data with each other, so that users visiting one service provider are remembered on other service providers.</p>
      <p>This reduces, or even eliminates actions that currently need to be repeated by users at every service provider they visit.
      </p>
    </div>
    <div class="buttons">
      <div class="btn btn-color-external-link width-mid">
       <a href="https://wayf-cloud.readme.io"> Learn More </a>
      </div>
      <div class="btn btn-color-secondary width-mid">
        {{#link-to "sp.register" class="register"}} Register {{/link-to}}
      </div>
    </div>
  </div>
