<div class="item-form">
  <div class="item-form-header row">
    <div class="item-form-title font-xl">
      Password Reset for {{model.firstName}} {{model.lastName}}
    </div>
    <div class="item-form-close">
      {{#link-to 'admin.users'}} x {{/link-to}}
    </div>
  </div>
  <div class="item-form-main row">
    {{password-reset-form passwordResetDone='passwordResetDone' id=model.id }}
  </div>
</div>
