<div class="center">
<p>Are you sure you want to...</p>
  <div class="cancel-consent">
    <span class="btn-forget" {{action "cancel"}}>Cancel</span>
  </div>
  <div class="cancel-consent">
  <span class="btn-forget" {{action "withdraw"}}>Yes</span>
  </div>
</div>
