<div class='list-item header-row'>
  <div class="col logo">
  </div>
  <div class="col name">
    Organization
  </div>
  <div class="col date">
    Last Used
  </div>
  <div class="col actions ">
  </div>
</div>
{{#if model}}
{{#each model as |idp|}}
  {{item-idp item=idp}}
{{/each}}
{{else}}
<div class="center">
no items
<span style="padding:20px; font-size:12px; max-width:300px;">Identity Providers will be added to this list automatically by the <a href="/sp/members" class='p-link'>WAYF Cloud members</a> on first use</span> 
</div>
{{/if}}
