<div class="limit-width column narrow info-body">
  <div class='list-item header-row'>
    <div class="col index">
    </div>
    <div class="col name">
      Name
    </div>
    <div class="col">
    </div>
  </div>
  {{#if model}}
  {{#each model as |member|}}
    {{item-user-member item=member}}
  {{/each}}
  {{else}}
  <div class="center">
  There are no members yet
  </div>
  {{/if}}
</div>
