$color-primary: #79589F;
$color-secondary: #f95993;
$color-white: white;
$color-black: black;
$color-header-light: #f6f7f8;
$color-text-main: black;
$color-text-gray: #a2a2a2;
$color-background: rgba(255, 255, 255, 1);
$color-footer-background: #fff;
$color-footer-border: #f7f3fc;
$color-side-border: #dee5e8;
$color-content-background: rgba(255, 255, 255, 1);
$color-font: #330e0e;
$color-table-row: #b7b7b7;
$color-section-row: $color-text-main;
$color-input-background: rgba(249, 249, 249, 0.8);
$color-input-border: rgba(213, 205, 198,1);
$color-base-gray: rgba(155,155,155,1);
$color-text-dark: rgba(98,98,98,1);
$color-text-row-header: #c6894e;//#865931;
$color-gray-ribbon: #f7f8fb;
$color-gray-ribbon-border:#dee5e8;
$color-error-msg:#ff6868;
$color-badge-red:#fe6161;
$color-badge-green:#6fb072;
$color-badge-blue:#5298b9;
$color-external-link: #f6b45f;
