<div class="my-container" style="padding:50px 0px">
  <div class="centered-container">
  <div class="form">
    <div class="form-group">
      <h1>This action will delete all your data in the WAYF Cloud</h1>
    </div>
     <div class="form-group">
       <p>You will no longer be remebered across the <a href="/sp/members" class='p-link'>WAYF Cloud members</a>.</p>
         <p> Are you sure you would you like to proceed?</p>
     </div>
     <div class="form-group horizontal">

       <div class="btn btn-color-gray width-mid" {{action "cancel"}}>Back</div>
       {{deactivate-wayf deviceDeactivated='deviceDeactivated'}}
<!-- 
       <div class="btn btn-color-red width-large" {{action "withdraw"}}>Yes, delete my data</div> -->
     </div>
   </div>
   </div>
</div>
