<div class="item-form">
  <div class="item-form-header row">
    <div class="item-form-title font-xl">
      New Publisher
    </div>
    <div class="item-form-close">
      {{#link-to 'admin.publishers'}} x {{/link-to}}

    </div>
  </div>
  <div class="item-form-main row">
    {{newpublisher-form publisherCreated='publisherCreated'}}
  </div>
</div>
