<div class='list-item header-row'>
  <div class="col date">
    Member Since
  </div>
  <div class="col name">
   Name
  </div>
  <div class="col actions">
  </div>
</div>

{{#if model}}
  {{#each model as |publisher|}}
    {{item-publisher item=publisher}}
  {{/each}}
{{else}}
  <div class="center">
    no pending registrations
  </div>
{{/if}}

<div class="add">
  {{#link-to 'admin.newpublisher' class='btn btn-color-primary'}} + {{/link-to}}
</div>
