<div class='list-item header-row'>
  <div class="col date">
    Application Date
  </div>
  <div class="col name">
   Name
  </div>
  <div class="col actions ">
  </div>
  <div class="col actions">
  </div>
  <div class="col actions">
  </div>
</div>

{{#if model}}
  {{#each model as |registration|}}
    {{item-registration item=registration}}
  {{/each}}
{{else}}
  <div class="center">
    no pending registrations
  </div>
{{/if}}
